{% extends "base.html" %}
{% load i18n %}
{% block title %}Login{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>{% trans "Login error, please try again!" %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "You do not have access to this information. You must be logged in." %}</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <p>{% trans "User: " %}</p>
    <p>{{ form.username }}</p>
    <p>{% trans "Password: " %}</p>
    <p>{{ form.password }}</p>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-warning"> {% trans "Log in" %} </button>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
  <br>
  <div class="btn-group btn-group-sm">
    <a href="{% url 'password_reset' %}" class="btn btn-secondary">{% trans "Forgotten your password?" %}</a>
  </div>
{% endblock %}