{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>{% trans "Login error, please try again!" %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "You do not have access to this information. You must be logged in." %}</p>
    {% endif %}
  {% endif %}

  <form style="margin-left:20px;" method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <p style="margin:0 0 10px 0;">{% trans "User: " %}</p>
    <p>{{ form.username }}</p>
    <p>{% trans "Password: " %}</p>
    <p>{{ form.password }}</p>
    <br>
    <div class="button_info_div">
      <button type="submit" class="button_info_a" style="padding:0; margin:0;"> {% trans "Log in" %} </button>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
  <br>
  <div class="button_info_div">
    <a href="{% url 'password_reset' %}" class="button_info_a delete" style="width: 200px; padding-top: 5px; margin-left: 20px;">{% trans "Forgotten your password?" %}</a>
  </div>
{% endblock %}