{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<br>
<h5 style="padding:0;">{% trans "Enter your email address" %}</h5>
<br>
<form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}
    <p>{{ form.email }}</p>
    <br>
    <div class="button_info_div">
        <button type="submit"class="button_info_a" style="padding:0; margin: 0;">{% trans "Reset password"%}</button>
    </div>
</form>
{% endblock %}