{% extends "base.html" %}
{% load i18n %}
{% block title %}Reset password{% endblock %}

{% block content %}
    {% if validlink %}
        <h6>{% trans "Enter a new password." %}</h6>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <p for="id_new_password1">{% trans "New password:" %}</p>
            <p>{{ form.new_password1 }}</p>
            {{ form.new_password2.errors }}
            <p for="id_new_password2">{% trans "Repeat the password" %}</p>
            <p>{{ form.new_password2 }}</p>
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-warning">{% trans "Change the password" %}</button>
            </div>
        </form>
    {% else %}
        <h1>{% trans "Failed to change password" %}</h1>
        <p>{% trans "Password reset link is invalid. Please initiate a password reset." %}</p>
    {% endif %}
{% endblock %}