{% extends "base.html" %}
{% load static %}
{% load django_template_maths %}
{% load i18n %}

{% block title %}Album{% endblock %}

{% block content %}
<section id="album_name_player">
    <div class="album_info_add_btn">
        <div class="album_info_text">
                <h3 style="margin-left: 0">{{ album.name }}</h3>
             <a class="info2" href="{% url 'artist' album.artists.0.id%}">
                <h5 style="padding: 0">{{ album.artists.0.name }}</h5>
             </a>
            <p style="margin-bottom: 8px;">Label <i>{{ album.label }}</i></p>
            <p style="margin-bottom: 20px;">Release Date <i>{{ album.release_date }}</i></p>
        </div>
        {% if user.is_authenticated %}
        <section id="button_add_del">
            {% if album.id != exist %}
            <form action="" method="post" id="add_form">
                {% csrf_token %}
                <div class="button_info_div">
                    <button type="submit" name="btn" value="add_form" class="button_info_a" style="padding:0; margin-right: 10px;">Add</button>
                </div>
            </form>
            {% endif %}
            {% if album.id == exist %}
            <form action="" method="post" id="del_form">
                {% csrf_token %}
                <div class="button_info_div">
                    <button type="submit" name="btn" value="del_form" class="button_info_a delete" style="padding:0; margin-right: 10px;">Delete</button>
                </div>
            </form>
            {% endif %}
        </section>
        {% endif %}
    </div>
    <div>
        <iframe style="border-radius:12px; margin: 0 0 20px 25px;" src="https://open.spotify.com/embed/album/{{album.id}}?utm_source=generator" width="1150px" height="80px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>

</section>
<section id="album_tracks">
      <div>
            {% for track in album.tracks.items %}
            <div class="track_name_duration">
                <p style="width: 600px;">{{ track.name }}</p>
                <p>{{ track.duration_ms|flr:60000 }}:</p>
                {% if track.duration_ms|mod:60000|div:600|mul:0.6|add_decimal:0 < 10 %}
                <p>0</p>
                {% endif %}
                <p>{{ track.duration_ms|mod:60000|div:600|mul:0.6|add_decimal:0 }}</p>
            </div>
           {% endfor %}
      </div>
      <div class="album_cover_info">
            <img src="{{ album.images.0.url }}">
      </div>
</section>
{% endblock %}