{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Artist" %}{% endblock %}

{% block content %}
<section class="artist_info">
    <div class="artist_info_text">
        <div class="genres_artist">
            <h1>{{ artist.name }}</h1>
            <p>{{ artist.genres.0 }}</p>
            <p>{{ artist.genres.1 }}</p>
            <p>{{ artist.genres.2 }}</p>
            <p>{{ artist.genres.3 }}</p>
            <p>{{ artist.genres.4 }}</p>
        </div>
        <div class="button_info_div">
            <a class="button_info_a" target="_blank" href="https://en.wikipedia.org/wiki/{{artist.name}}">{% trans "More info" %}</a>
            <a class="button_info_a" href="{% url 'related' artist.id %}">{% trans "Fans also like" %}</a>
        </div>
        {% if user.is_authenticated %}
        <section id="button_add_del">
            {% if artist.id != exist %}
            <form action="" method="post" id="add_form">
                {% csrf_token %}
                <div class="button_info_div">
                    <button type="submit" name="btn" value="add_form" class="button_info_a" style="padding:0; margin-right: 10px;">{% trans "Add" %}</button>
                </div>
            </form>
            {% else %}
            <form action="" method="post" id="del_form">
                {% csrf_token %}
                <div class="button_info_div">
                    <button type="submit" name="btn" value="del_form" class="button_info_a delete" style="padding:0; margin-right: 10px;">{% trans "Delete" %}</button>
                </div>
            </form>
            {% endif %}
        </section>
        {% endif %}
    </div>
    {% if artist.images.0.url %}
        <img src="{{ artist.images.0.url }}">
    {% else %}
        <img src="{% static 'img/no_image.jpg' %}">
    {% endif %}
</section>
<br>
<br>
<h3>{% trans "Albums" %}</h3>
<section class="all_albums">
    {% for album in albums.items %}
    <a class="info2" href="{% url 'album' album.id%}">
        <div class="album">
            <img class="album_cover" src="{{ album.images.0.url }}">
            <h5>{{ album.name }}</h5>
            <h6>{{ album.release_date }}</h6>
        </div>
    </a>
    {% endfor %}
</section>

{% endblock %}