{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Profile Update" %}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group" style="margin-bottom:5px">
            <legend class="border-bottom mb-4">{% trans "Profile update" %}</legend>
            <h6 style="line-height: 40px;">{{ u_form|crispy }}</h6>
            <h6 style="line-height: 40px;">{{ p_form|crispy }}</h6>
        </fieldset>
        <br>
        <div class="button_info_div">
            <button type="submit" name="btn" class="button_info_a" style="padding:0; margin: 0 10px;">{% trans "Update" %}</button>
        </div>
    </form>
</div>
{% endblock content %}