{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Search results{% endblock %}

{% block content %}
  <h3>Search results for "{{query}}"</h3>
{% if results %}
    <section class="all_albums">
        {% for result in results %}
            {% for res in result.items %}
            <a class="info2" href="{% url 'artist' res.id%}">
                <div class="album">
                    {% if res.images.0.url %}
                    <img class="album_cover" src="{{ res.images.0.url }}">
                    {% else %}
                    <img class="album_cover" src="{% static 'img/no_image.jpg' %}">
                    {% endif %}
                    <h5>{{ res.name }}</h5>
                    <div class="genres_search">
                        <p>{{ res.genres.0 }}</p>
                        <p>{{ res.genres.1 }}</p>
                        <p>{{ res.genres.2 }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endfor %}
    </section>
{% else %}
    <p>Oops. We didn't find anything</p>
{% endif %}









{% endblock %}