{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Search results" %}{% endblock %}

{% block content %}

<h3>{% trans Search results for %} "{{query}}"</h3>
<div class="tab">
  <button class="tablinks active" onclick="openElement(event, 'Artists')" id="defaultOpen">{% trans "Artists" %}</button>
  <button class="tablinks" onclick="openElement(event, 'Albums')">{% trans "Albums" %}</button>
</div>

<div id="Artists" class="tabcontent">
        <section class="all_albums">
            {% for artists in results_artists %}
                {%if artists.items %}
                    {% for artist in artists.items %}
                        <a class="info2" href="{% url 'artist' artist.id%}">
                            <div class="album">
                                {% if artist.images.0.url %}
                                <img class="album_cover" src="{{ artist.images.0.url }}">
                                {% else %}
                                <img class="album_cover" src="{% static 'img/no_image.jpg' %}">
                                {% endif %}
                                <h5>{{ artist.name }}</h5>
                                <div class="genres_search">
                                    <p>{{ artist.genres.0 }}</p>
                                    <p>{{ artist.genres.1 }}</p>
                                    <p>{{ artist.genres.2 }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h4 style="margin: 20px 0 0 55px">{% trans "Oops. We didn't find any artists" %}</h4>
                {% endif %}
            {% endfor %}
        </section>

</div>

<div id="Albums" class="tabcontent">
        <section class="all_albums">
            {% for albums in results_albums %}
                {%if albums.items %}
                    {% for album in albums.items%}
                        <a class="info2" href="{% url 'album' album.id %}">
                            <div class="album">
                                <img class="album_cover" src="{{ album.images.0.url }}">
                                <h5>{{album.artists.0.name}}</h5>
                                <h6>{{ album.name }}</h6>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h4 style="margin: 20px 0 0 55px">{% trans "Oops. We didn't find any albums" %}</h4>
                {% endif %}
            {% endfor %}
        </section>
</div>

{% endblock %}